.profile{
    padding-top: 5vh;
    width: 100%;
    height: 95vh;
    display: flex;
    background-color: #ffffff;
}

.profile-left{
    width: 50%;
    height: 100vh;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-right{
    width: 75%;
    height: 100vh;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-img{
    width: 17.5vw;
    height: 17.5vw;
    border-radius: 50%; /* 画像の四隅を丸くする */
    object-fit: cover;
}

.profile-img-description{
    padding-top: 10px;
    font-size: 15px;
}

.introduce{
    font-size: 16px;
}

.name{
    font-size: 42px;
    font-weight: bold;
}



@media (max-width: 600px) {

    .profile-mobile{
        padding-top: 15vh;
    }

    .profile{
        padding: 15vh 0;
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }
    
    .profile-left{
        width: 100%;
        height: auto;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .profile-right{
        margin: 0 auto;
        width: 75%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .profile-img{
        width: 35vw;
        height: 35vw;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .profile-img-description{
        display: none;
    }

    .introduce{
        font-size: 16px;
    }
    
    .name{
        font-size: 28px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .no-mobile{
        display: none;
    }
}