.profile{
    padding-top: 5vh;
    width: 100%;
    height: 95vh;
    display: flex;
    background-color: #ffffff;
}

.profile-left{
    width: 50%;
    height: 100vh;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-right{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-img{
    width: 17.5vw;
    height: 17.5vw;
    border-radius: 50%; /* 画像の四隅を丸くする */
    object-fit: cover;
}

.profile-img-description{
    padding-top: 10px;
    font-size: 15px;
}

.introduce{
    font-size: 16px;
}
.introduce-title{
    margin-bottom: 7.5%;
    color: #000000;
    font-size: 42px;
    font-weight: bold;
}
.introduce-json{
    margin-left: 5%;
    width: 100%;
}