*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: radial-gradient(
        rgb(83, 192, 255), 
        rgb(13, 122, 165)
    );  */
}

h1{
    color: #ffeedd;
}

h2{
    color: #ffeedd;
}

/* p{
    color: #ffeedd;
} */

a{
    color: #ffeedd;
    text-decoration: none;
}
